Screen {
    background: #111418;
}

#header {
    height: 3;
    padding: 0 1;
    background: #1c2026;
    border: solid #2f81f7;
}

#notification {
    height: 3;
    padding: 0 1;
    color: #2ea043;
}

#email-list {
    min-height: 12;
    padding: 1;
    border: solid #2f81f7;
    background: #1c2026;
}

.email-item {
    padding: 1;
    margin: 0 0 1 0;
    border: solid #244a78;
    background: #161b22;
}

#footer-bar {
    height: 3;
    padding: 0 1;
    background: #1c2026;
    border: solid #2f81f7;
}

#footer-bar Label {
    color: #e6edf3;
    margin-right: 1;
    padding: 0 1;
}

#logout-label {
    color: #ff6b6b;
}

#stop-label {
    color: #ffd93d;
}

#footer-bar Button {
    color: #e6edf3;
    background: #2f81f7;
    border: solid #2f81f7;
    margin-right: 1;
    width: 2;
    height: 100%;
    padding: 0 1;
}

#ip-display {
    margin-left: 2;
    color: #8b949e;
    width: 1fr;
    text-align: right;
}

#action-status {
    margin-left: 2;
    color: #f0b429;
    width: 20;
}
